
@{
    ViewBag.Title = "Thankyou";
}

<h2>Thankyou</h2>
<div style="margin-left:auto;margin-right:auto;">
    <img src="~/Content/Images/red-print.png" />
</div>
<h2>Thank you for dealing with us</h2>