@{
    ViewBag.Title = "Index";
    Layout = "";
}
@using Microsoft.Reporting.WebForms;
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<script>
    $(function () {
        var bno = "@ViewBag.billno";
        var url1 = "~/Report/TestReport.aspx?bno=" + bno;
        var url2 = "~/Report/TestReport2.aspx?bno=" + bno;
        ("myReport").attr('src', url1);
        ("myReport2").attr('src', url2);
        $("#autoUpdate").show();
    });
</script>*@
<style>
#myReport{
height:600px;
border:1px solid #222;
margin-left:5%;
margin-right:5%;
}
#myReport2{
height:600px;
border:1px solid #222;
}
</style>
<h4>Print Bill</h4>
<div id="autoUpdate" style="display: none; overflow-y:auto; width:100%;" class="row">
    <div class="col-md-6">
     
    <iframe id="myReport" class="embed-responsive-item"></iframe>

        </div>  
   @*<div class="col-md-6">
        
            <iframe id="myReport2" class=""></iframe>
        
    </div>*@
   
</div>
<script src="~/Scripts/jquery-2.2.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(window).load(function () {
        var bno = "@ViewBag.billno";
       
        var url1 = "../../Report/testReport.aspx?bno=" + bno;
       // var url2 = "../../Report/testReport2.aspx?bno=" + bno;
        //$('#target-div').load(url1 + ' #getR1');
       document.getElementById("myReport").src = url1 ;
   //document.getElementById("myReport2").src = url2;
        $("#autoUpdate").show();

    });
</script>

